fastapi
openai
openai-whisper
funasr
huggingface_hub
opencv-python-headless
pydantic
pydantic-settings
python-multipart
SQLAlchemy
torch
torchaudio
modelscope
soundfile
librosa
lazy_loader
msgpack
pooch
soxr
uvicorn[standard]
